## Python 표준 라이브러리

### 작업경로 확인,  변경 및 새 폴더 생성

In [70]:
# 관련 라이브러리를 호출합니다.
import os, shutil

In [71]:
# 현재 작업경로를 확인합니다.
os.getcwd()

'/Users/drkevin/Documents/Lectures/ASSIST/LGE Python/code'

In [72]:
# 데이터 파일이 저장된 폴더로 작업경로를 변경합니다. (상대경로 사용)
os.chdir('../data')

In [73]:
# 새로운 폴더를 생성합니다.
os.mkdir('./temp')

### 새로운 텍스트 파일 생성

In [ ]:
# 현재 작업경로에 'test.txt' 파일을 생성합니다.
file = open('test.txt', 'w', encoding = 'UTF-8')

In [ ]:
# text.txt 파일에 문자열을 추가합니다.
for i in range(1, 6):
    file.write(f'{i}번째 페이지 수집!\n')

In [ ]:
# 텍스트 파일을 닫습니다.
file.close()

### 기존 텍스트 파일에 데이터 추가

In [ ]:
# 'test.txt' 파일을 추가 모드로 엽니다.
file = open('test.txt', 'a', encoding = 'UTF-8')

In [ ]:
# 'test.txt' 파일에 문자열을 추가합니다.
for i in range(11, 16):
    file.write(f'{i}번째 페이지 수집!\n')

In [ ]:
# 텍스트 파일을 닫습니다.
file.close()

### 텍스트 파일 읽기 (2가지 모드 비교)

In [ ]:
# 'test.txt' 파일을 읽고 문자열로 결합하여 반환합니다.
file = open('test.txt', 'r').read()

In [ ]:
# file을 출력합니다. 한글이 제대로 출력됩니다.
file

In [ ]:
# file의 클래스를 확인합니다.
type(file)

In [ ]:
# 'text.txt' 파일을 binary로 읽습니다.
file = open('test.txt', 'rb').read()

In [ ]:
# file을 출력합니다. 한글이 코드로 출력됩니다.
file

In [ ]:
# file의 클래스를 확인합니다.
type(file)

In [ ]:
# file은 한글이 인코드된 상태이므로, 디코딩해야 제대로 출력됩니다.
file.decode('UTF-8')

### 파일 복사 및 이동

In [ ]:
# 현재 작업경로에 포함되어 있는 폴더명과 파일명을 출력합니다.
os.listdir()

In [ ]:
# 기존 파일을 복사합니다. (파일명, 파일명)
shutil.copy('test.txt', 'copy1.txt')

In [ ]:
# 기존 파일을 다른 폴더로 복사합니다. (파일명, 폴더명)
shutil.copy('test.txt', './temp')

In [ ]:
# 파일을 이동시킵니다. (파일명, 폴더명)
shutil.move('copy1.txt', './temp')

### 파일명 변경

In [ ]:
# 작업경로를 변경합니다.
os.chdir('./temp')

In [ ]:
# 현재 작업경로에 포함되어 있는 폴더명과 파일명을 출력합니다.
os.listdir()

In [ ]:
# 파일명을 변경합니다. (파일명, 파일명)
os.rename('test.txt', 'copy2.txt')

In [ ]:
# 파일을 복사합니다. (파일명, 파일명)
shutil.copy('copy2.txt', 'copy3.txt')

### 파일 삭제

In [ ]:
# 현재 작업경로에 포함되어 있는 폴더명과 파일명을 출력합니다.
os.listdir()

In [ ]:
# 한 개 파일을 삭제합니다.
os.remove('copy1.txt')

In [ ]:
# 여러 개의 파일을 한 번에 삭제하려면 아래와 같이 반복문을 실행합니다.
for i in os.listdir():
    if os.path.splitext(i)[-1] != '':
        os.remove(i)

### 폴더 삭제

In [ ]:
# 상위 폴더로 이동합니다.
os.chdir('..')

In [ ]:
# 현재 작업경로에 포함되어 있는 폴더명과 파일명을 출력합니다.
os.listdir()

In [ ]:
# 비어 있는 폴더를 삭제합니다.
os.rmdir('temp')

In [ ]:
# 폴더와 파일을 모두 삭제합니다.
# shutil.rmtree('temp')

### 현재 날짜 및 시간 확인

In [ ]:
# 관련 라이브러리를 호출합니다.
from time import *

In [ ]:
# 유닉스 시간을 실수로 출력합니다.
time()

In [ ]:
# 유닉스 시간을 로컬 시간으로 변환합니다.
localtime(time())

In [ ]:
# 로컬 시간 데이터에서 원하는 날짜/시간 포맷으로 변환합니다.
strftime('%Y년 %m월 %d일', localtime())

### [참고] 로케일 관련 함수 소개

In [ ]:
# 관련 라이브러리를 호출합니다.
import locale

In [ ]:
# 현재 설정된 로케일을 확인합니다.
locale.getlocale()

In [ ]:
# 한국 로케일로 변경합니다.
locale.setlocale(locale.LC_TIME, 'ko_KR')

In [ ]:
# 로컬 시간 데이터를 날짜/시간 포맷으로 다시 변환합니다.
strftime('%Y년 %m월 %d일', localtime())

## numpy 기초

In [1]:
# numpy 라이브러리를 호출합니다.
import numpy as np

### 1차원 배열 생성

In [2]:
# 리스트로 1차원 배열을 생성합니다.
ar1 = np.array([1, 2, 3])

In [3]:
# ar1을 출력합니다.
ar1

array([1, 2, 3])

In [4]:
# ar1의 클래스를 확인합니다.
type(ar1)

numpy.ndarray

In [5]:
# ar1의 차원을 확인합니다. (1차원)
ar1.ndim

1

In [6]:
# ar1의 형태를 확인합니다. 
ar1.shape

(3,)

In [7]:
# ar1 원소의 자료형을 확인합니다.
ar1.dtype

dtype('int64')

In [8]:
# 0부터 4까지 연속된 정수를 원소로 갖는 1차원 배열을 생성합니다.
np.arange(5)

array([0, 1, 2, 3, 4])

In [9]:
# 1부터 5까지 연속된 정수를를 원소로 갖는 1차원 배열을 생성합니다.
np.arange(1, 6)

array([1, 2, 3, 4, 5])

In [10]:
# 1부터 10에서 홀수를 원소로 갖는 1차원 배열을 생성합니다.
np.arange(1, 11, 2)

array([1, 3, 5, 7, 9])

In [11]:
# 0부터 1까지 간격이 0.1인 실수를 원소로 갖는 1차원 배열을 생성합니다.
np.arange(0, 1, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

### 1차원 배열의 형 변환

In [12]:
# 자료형이 섞여 있는 리스트로 1차원 배열을 생성합니다.
ar1 = np.array([1, 2.0, '3'])

In [13]:
# ar1을 출력합니다.
ar1

array(['1', '2.0', '3'], dtype='<U32')

In [14]:
# ar1의 자료형을 확인합니다.
ar1.dtype

dtype('<U32')

In [15]:
# ar1의 원소를 실수로 변환합니다.
ar1.astype('float')

array([1., 2., 3.])

In [16]:
# ar1의 원소를 정수로 변환합니다. (에러가 발생합니다!)
ar1.astype('int')

ValueError: invalid literal for int() with base 10: '2.0'

### 1차원 배열의 인덱싱

In [17]:
# 1부터 11에서 홀수를 원소로 갖는 1차원 배열을 생성합니다. 
ar1 = np.arange(1, 12, 2)

In [18]:
# ar1의 0번 인덱스(첫 번째) 원소를 선택합니다.
ar1[0]

1

In [19]:
# ar1의 1번 인덱스(두 번째) 원소를 선택합니다.
ar1[1]

3

In [20]:
# ar1의 마지막 원소를 선택합니다.
ar1[-1]

11

### 1차원 배열의 슬라이싱

In [21]:
# ar1의 0~2번 인덱스 원소를 선택합니다. 
ar1[:3]

array([1, 3, 5])

In [22]:
# ar1의 3번 인덱스부터 마지막 원소까지 선택합니다.
ar1[3:]

array([ 7,  9, 11])

In [23]:
# ar1의 전체 원소를 선택합니다.
ar1[:]

array([ 1,  3,  5,  7,  9, 11])

In [24]:
# ar1에서 리스트로 지정된 인덱스 순서대로 원소를 선택합니다.
ar1[[3, 0, 2, 4, 1]]

array([7, 1])

In [ ]:
# 오름차순 정렬 실습을 위해 ar1에 재할당합니다.
ar1 = ar1[[3, 0, 2, 4, 1]]

### 1차원 배열의 원소 정렬

In [ ]:
# ar1을 오름차순으로 정렬한 결과를 ar1에 재할당합니다.
ar1.sort()

In [ ]:
# ar1을 출력합니다.
ar1

In [ ]:
# 1차원 배열의 원소를 역순으로 정렬합니다.
ar1 = ar1[::-1]

In [ ]:
# ar1을 출력합니다.
ar1

### 2차원 배열 생성

In [ ]:
# 리스트로 2차원 배열을 생성합니다.
ar2 = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
# ar2를 출력합니다.
ar2

In [ ]:
# ar2의 클래스를 확인합니다.
type(ar2)

In [ ]:
# ar2의 차원을 확인합니다. (2차원)
ar2.ndim

In [ ]:
# ar2의 형태를 확인합니다. 
ar2.shape

In [ ]:
# ar2 원소의 자료형을 확인합니다.
ar2.dtype

### 배열의 재구조

In [ ]:
# 0부터 11까지 12개의 원소를 갖는 1차원 배열을 생성합니다.
ar1 = np.arange(12)

In [ ]:
# ar1을 3행 4열인 2차원 배열로 변환합니다.
ar1.reshape(3, 4)

In [ ]:
# 배열의 구조를 변경할 때 원소의 입력방향을 세로로 지정합니다.
ar1.reshape(3, 4, order = 'F')

In [ ]:
# 행 위치에 숫자, 열 위치에 '-1'을 할당하면 열의 크기가 자동 계산됩니다.
ar1.reshape(4, -1)

In [ ]:
# 2차원 배열 인덱싱 실습을 위해 ar2에 재할당합니다.
ar2 = ar1.reshape(4, -1)

### 2차원 배열의 인덱싱 및 슬라이싱

In [ ]:
# ar2의 1행 1열의 원소를 선택합니다.
ar2[0, 0]

In [ ]:
# ar2의 2행 2열의 원소를 선택합니다. 
ar2[1, 1]

In [ ]:
# ar2의 1~2행 1~2열 원소를 선택합니다.
ar2[0:2, 0:2]

In [ ]:
# ar2의 전체 행 2~3열 원소를 선택합니다.
ar2[:, 1:3]

In [ ]:
# ar2의 열 순서를 변경합니다.
ar2[:, [2, 1]]

## pandas 기초

In [25]:
# pandas 라이브러리를 호출합니다.
import pandas as pd

### 시리즈 생성

In [26]:
# 1차원 배열로 시리즈를 생성합니다.
sr = pd.Series(np.arange(1, 10, 2))

In [27]:
# sr을 출력합니다.
sr

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [28]:
# sr의 클래스를 확인합니다.
type(sr)

pandas.core.series.Series

In [29]:
# 리스트로 시리즈를 생성합니다. (value, index 순)
pd.Series([1, 3, 5, 7, 9], ['a', 'b', 'c', 'd', 'e'])

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [30]:
# 딕셔너리로 시리즈를 생성합니다. (key가 index로 자동 설정)
pd.Series({'a':1, 'b':3, 'c':5, 'd':7, 'e':9})

a    1
b    3
c    5
d    7
e    9
dtype: int64

### 시리즈 확인

In [31]:
# sr의 형태를 출력합니다.
sr.shape

(5,)

In [32]:
# sr의 값을 출력합니다.
sr.values

array([1, 3, 5, 7, 9])

In [33]:
# sr의 인덱스명을 출력합니다.
sr.index

RangeIndex(start=0, stop=5, step=1)

In [34]:
# sr의 자료형을 출력합니다.
sr.dtypes

dtype('int64')

In [35]:
# 시리즈의 인덱스명을 변경합니다.
sr.index = ['a', 'b', 'c', 'd', 'e']

In [36]:
# sr을 출력합니다.
sr

a    1
b    3
c    5
d    7
e    9
dtype: int64

### 시리즈의 팬시 인덱싱

In [37]:
# iloc 인덱싱은 대괄호 안에 정수 인덱스 스칼라를 지정하면 해당 원소를 반환합니다.
sr.iloc[0]

1

In [38]:
# 대괄호 안에 스칼라 대신 리스트를 지정하면 항상 시리즈로 반환됩니다.
sr.iloc[[0]]

a    1
dtype: int64

In [39]:
# 연속하지 않는 인덱스를 지정할 때 반드시 리스트로 할당해야 합니다.
sr.iloc[[1, 3]]

b    3
d    7
dtype: int64

In [40]:
# sr의 1~2번 인덱스 원소를 선택하여 시리즈로 출력합니다.
sr.iloc[1:3]

b    3
c    5
dtype: int64

In [41]:
# loc 인덱싱은 대괄호 안에 인덱스명 스칼라를 지정하면 해당 원소를 반환합니다.
sr.loc['a']

1

In [42]:
# 대괄호 안에 리스트를 지정하면 항상 시리즈로 반환됩니다.
sr.loc[['a']]

a    1
dtype: int64

In [43]:
# sr의 인덱스명이 'b', 'd'인 원소를 선택합니다.
sr.loc[['b', 'd']]

b    3
d    7
dtype: int64

In [44]:
# sr의 인덱스명이 'a', 'b', 'c'인 원소를 선택합니다.
sr.loc['a':'c']

a    1
b    3
c    5
dtype: int64

### 시리즈의 불리언 인덱싱

In [45]:
# sr 원소의 자료형을 확인합니다.
sr.dtype

dtype('int64')

In [46]:
# sr로 비교 연산을 실행합니다.
sr >= 5

a    False
b    False
c     True
d     True
e     True
dtype: bool

In [47]:
# 대괄호 안에 비교 연산 코드를 지정하면 True에 해당하는 원소만 추출합니다.
sr.loc[sr >= 5]

c    5
d    7
e    9
dtype: int64

In [48]:
# 두 개 이상의 비교 연산 결과로 불리언 인덱싱을 합니다.
sr.loc[(sr >= 5) & (sr <= 7)]

c    5
d    7
dtype: int64

### 시리즈 원소 추가 및 삭제

In [49]:
# 새로운 시리즈를 생성합니다.
nr = pd.Series(range(2, 11, 2))

In [50]:
# nr을 출력합니다.
nr

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [51]:
# append() 함수로 기존 시리즈에 새로운 시리즈를 추가합니다
sr = sr.append(nr)

In [52]:
# sr을 출력합니다.
sr

a     1
b     3
c     5
d     7
e     9
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [53]:
# drop() 함수에 인덱스명을 입력하여 원소를 삭제합니다.
sr.drop(['a', 4])

b    3
c    5
d    7
e    9
0    2
1    4
2    6
3    8
dtype: int64

### 시리즈 원소 변경

In [54]:
# sr의 전체 원소에 1을 더합니다.
sr + 1

a     2
b     4
c     6
d     8
e    10
0     3
1     5
2     7
3     9
4    11
dtype: int64

In [55]:
# sr의 전체 원소에 2를 곱합니다.
sr * 2

a     2
b     6
c    10
d    14
e    18
0     4
1     8
2    12
3    16
4    20
dtype: int64

In [56]:
# sr에서 9보다 큰 원소를 시리즈로 반환합니다.
sr.loc[sr >= 9]

e     9
4    10
dtype: int64

In [57]:
# sr에서 9보다 큰 원소를 문자열로 변경합니다.
sr.loc[sr >= 9] = ['가', '나']

In [58]:
# sr을 출력합니다.
sr

a    1
b    3
c    5
d    7
e    가
0    2
1    4
2    6
3    8
4    나
dtype: object

In [59]:
# sr의 1번 인덱스(두 번째) 원소의 클래스를 확인합니다.
type(sr.iloc[1])

int

### 시리즈의 결측값 처리

In [60]:
# sr의 원소 '가', '나'를 결측값으로 변경합니다. 
sr.loc[(sr == '가') | (sr == '나')] = np.nan

In [61]:
# sr을 출력합니다.
sr

a      1
b      3
c      5
d      7
e    NaN
0      2
1      4
2      6
3      8
4    NaN
dtype: object

In [65]:
# sr의 결측값 개수를 출력합니다.
sr.isna().sum()

2

In [66]:
# sr의 결측값을 0으로 변경한 결과를 출력합니다.
sr.fillna(0)

a    1
b    3
c    5
d    7
e    0
0    2
1    4
2    6
3    8
4    0
dtype: int64

In [67]:
# sr의 결측값을 삭제한 결과를 sr에 재할당합니다.
sr.dropna()

a    1
b    3
c    5
d    7
0    2
1    4
2    6
3    8
dtype: object

In [ ]:
# sr을 출력합니다.
sr = sr.dropna()

### 데이터프레임 생성

In [ ]:
# 리스트로 데이터프레임을 생성합니다.
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]],
                  index = [1, 2, 3],
                  columns = ['A반', 'B반', 'C반'])

In [ ]:
# df를 출력합니다.
df

In [ ]:
# df의 클래스를 확인합니다.
type(df)

In [ ]:
# 딕셔너리로 데이터프레임을 생성합니다.
pd.DataFrame({'A반':[1, 2, 3], 'B반':[4, 5, 6], 'C반':[7, 8, 9]})

In [ ]:
# 딕셔너리를 원소로 갖는 리스트로 데이터프레임을 생성합니다.
pd.DataFrame([{'A반': 1, 'B반': 2, 'C반': 3},
              {'A반': 4, 'B반': 5, 'C반': 6},
              {'A반': 7, 'B반': 8, 'C반': 9}])

### 데이터프레임 확인

In [ ]:
# df의 형태를 튜플로 출력합니다. (행의 수, 열의 수)
df.shape

In [ ]:
# df의 값을 2차원 배열로 출력합니다.
df.values

In [ ]:
# df의 인덱스명을 출력합니다. 
df.index

In [ ]:
# df의 컬럼명을 출력합니다. 
df.columns

In [ ]:
# df의 컬럼별 자료형을 출력합니다. 
df.dtypes

In [ ]:
# df의 정보를 한 번에 확인합니다.
df.info()

In [ ]:
# df의 컬럼별 기술통계량을 한꺼번에 출력합니다. 
df.describe()

## 데이터 입출력

### xlsx 파일 입출력

In [ ]:
# xlsx 파일을 읽고 데이터프레임을 생성합니다.
df = pd.read_excel('KBO_Hitters_2020.xlsx')

In [ ]:
# df의 정보를 한 번에 확인합니다.
df.info()

In [ ]:
# df의 처음 다섯 행을 출력합니다.
df.head()

In [ ]:
# df의 인덱스를 정수 1부터 시작하도록 변경합니다.
df.index = range(1, 297)

In [ ]:
# 데이터프레임을 xlsx 파일로 저장합니다.
df.to_excel('test.xlsx', sheet_name = 'test', index = None)

### csv 파일 인코딩 방식 확인 및 입출력

In [ ]:
# 관련 라이브러리를 호출합니다.
import chardet

In [ ]:
# 텍스트 파일을 bytes 모드로 읽습니다.
raw = open('KBO_Hitters_2020.csv', 'rb').read()

In [ ]:
# 텍스트 파일의 문자 인코딩 방식을 확인합니다.
chardet.detect(raw)

In [ ]:
# 텍스트 파일을 읽고 데이터프레임을 생성합니다.
df = pd.read_csv('KBO_Hitters_2020.csv', encoding = 'EUC-KR')

In [ ]:
# 데이터프레임을 csv 파일로 저장합니다.
df.to_csv('test.csv', index = None, encoding = 'EUC-KR')

### 데이터프레임 팬시 인덱싱

In [ ]:
# 정수 인덱스를 스칼라로 지정하면 해당 행을 선택하여 시리즈로 출력합니다.
df.iloc[0]

In [ ]:
# 정수 인덱스를 리스트로 지정하면 해당 행을 선택하여 데이터프레임으로 출력합니다.
df.iloc[[0]]

In [ ]:
# 대괄호 안에 콜론을 사용하여 슬라이싱하면 해당 행을 데이터프레임으로 반환합니다.
df.iloc[0:10]

In [ ]:
# 대괄호 안에 콤마(,)를 추가하고, 콤마 뒤에 선택할 컬럼의 정수 인덱스를 지정합니다.
df.iloc[0:10, :]

In [ ]:
# df의 0~9번 인덱스 행, 0~11번 인덱스 컬럼을 데이터프레임으로 반환합니다.
df.iloc[0:10, 0:12]

In [ ]:
# 대괄호 안에 리스트를 지정하면 원하는 순서대로 선택할 수 있습니다.
df.iloc[:, [1, 0, 4, 5, 6]]

In [ ]:
# df의 인덱스명이 1인 행의 전체 컬럼을 선택하여 시리즈로 반환합니다.
df.loc[1]

In [ ]:
# 인덱스명을 리스트로 지정하면 해당 행을 선택하여 데이터프레임으로 반환합니다.
df.loc[[1]]

In [ ]:
# df의 인덱스명이 1~10인 행을 선택하여 데이터프레임으로 반환합니다.
df.loc[1:10]

In [ ]:
# 대괄호 안에 콤마(,)를 추가하고, 콤마 뒤에 선택할 컬럼의 컬럼명을 지정합니다.
df.loc[1:10, :]

In [ ]:
# df의 인덱스명이 1~10인 행, 선수명~도루 컬럼을 반환합니다.
df.loc[1:10, '선수명':'도루']

In [ ]:
# 컬럼명을 원하는 순서대로 선택할 수 있습니다.
df.loc[:, ['팀명', '선수명', '타수', '안타', '홈런']]

## 데이터프레임 전처리

###  실습 데이터셋 준비

In [74]:
# 현재 작업경로에 저장된 파일명을 출력합니다.
os.listdir()

['temp',
 '.DS_Store',
 'APT_Price_Seoul_2020.csv',
 'Naver_APT_Detail.xlsx',
 'KBO_Hitters_2020.csv',
 'KBO_Hitters_2020.xlsx',
 'Naver_APT_Detail.csv',
 'APT_Price_Seoul_2020.xlsx']

In [ ]:
# 가격 xlsx 파일을 읽고 데이터프레임을 생성합니다.
price = pd.read_excel('APT_Price_Seoul_2020.xlsx')

In [ ]:
# price의 처음 다섯 행을 출력합니다.
price.head()

In [ ]:
# price의 정보를 출력합니다.
price.info()

In [75]:
# 상세정보 xlsx 파일을 읽고 데이터프레임을 생성합니다.
detail = pd.read_excel('Naver_APT_Detail.xlsx')

In [76]:
# detail의 처음 다섯 행을 출력합니다.
detail.head()

       ID         아파트명               지번주소  세대수  임대수  동수  용적률  건폐율  주차대수
0  130473       16에스티뷰  서울 광진구 자양동 680-14    7    0   1  355   56     5
1  111186  67디벨리움(도시형)   서울 노원구 공릉동 670-7  106    0   1  629   56    66
2  120013    가락(헤븐스테이)  서울 송파구 가락동 177-10   12    0   1  199   46    12
3  128942       가락그랑밸리   서울 송파구 가락동 141-7   12    0   1  292   59    12
4     594         가락금호    서울 송파구 가락동 95-1  915    0   8  397   22   735

In [77]:
# detail의 정보를 출력합니다.
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9145 entries, 0 to 9144
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      9145 non-null   int64
 1   아파트명    9145 non-null   object
 2   지번주소    9145 non-null   object
 3   세대수     9145 non-null   int64
 4   임대수     9145 non-null   int64
 5   동수      9145 non-null   int64
 6   용적률     9145 non-null   int64
 7   건폐율     9145 non-null   int64
 8   주차대수    9145 non-null   int64
dtypes: int64(7), object(2)
memory usage: 643.1+ KB

#### [참고] csv 파일 읽을 때 날짜 자료형 유지하는 방법

In [78]:
# csv 파일을 bytes 모드로 읽습니다.
raw = open('APT_Price_Seoul_2020.csv', 'rb').read()

In [79]:
# 텍스트 파일의 문자 인코딩 방식을 확인합니다.
chardet.detect(raw[:100])

NameError: name 'chardet' is not defined

In [80]:
# 가격 csv 파일을 읽고 데이터프레임을 생성합니다.
price = pd.read_csv('APT_Price_Seoul_2020.csv')

In [81]:
# price의 정보를 확인합니다.
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80734 entries, 0 to 80733
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일련번호    77154 non-null  object
 1   아파트     80734 non-null  object
 2   시도명     80734 non-null  object
 3   시군구     80734 non-null  object
 4   법정동     80734 non-null  object
 5   지번      80709 non-null  object
 6   거래일     80734 non-null  object
 7   전용면적    80734 non-null  float64
 8   층       80734 non-null  int64
 9   거래금액    80734 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 6.2+ MB

In [82]:
# csv 파일을 읽을 때 날짜 자료형으로 읽을 컬럼명을 지정합니다.
price = pd.read_csv('APT_Price_Seoul_2020.csv', parse_dates = ['거래일'])

In [83]:
# price의 정보를 다시 확인합니다.
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80734 entries, 0 to 80733
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일련번호    77154 non-null  object
 1   아파트     80734 non-null  object
 2   시도명     80734 non-null  object
 3   시군구     80734 non-null  object
 4   법정동     80734 non-null  object
 5   지번      80709 non-null  object
 6   거래일     80734 non-null  datetime64[ns]
 7   전용면적    80734 non-null  float64
 8   층       80734 non-null  int64
 9   거래금액    80734 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 6.2+ MB

### 컬럼 선택 및 삭제

In [84]:
# 가격 데이터의 컬럼명을 출력합니다.
price.columns

Index(['일련번호', '아파트', '시도명', '시군구', '법정동', '지번', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [85]:
# 일련번호 컬럼을 선택하여 시리즈로 반환합니다.
price['일련번호']

0        11200-3074
1        11200-3031
2          11230-26
3               NaN
4          11260-11
            ...
80729    11740-2664
80730     11740-323
80731     11740-167
80732    11740-2851
80733    11740-2856
Name: 일련번호, Length: 80734, dtype: object

In [86]:
# 여러 컬럼을 선택하려면 리스트를 입력합니다.
price[['일련번호', '거래일']]

             일련번호        거래일
0      11200-3074 2020-01-01
1      11200-3031 2020-01-01
2        11230-26 2020-01-01
3             NaN 2020-01-01
4        11260-11 2020-01-01
...           ...        ...
80729  11740-2664 2020-12-31
80730   11740-323 2020-12-31
80731   11740-167 2020-12-31
80732  11740-2851 2020-12-31
80733  11740-2856 2020-12-31

[80734 rows x 2 columns]

In [87]:
# drop() 함수에 삭제할 컬럼명을 리스트로 입력하여 삭제합니다.
price.drop('일련번호', axis = 1)

               아파트    시도명   시군구    법정동     지번        거래일    전용면적   층    거래금액
0      텐즈힐아파트(1단지)  서울특별시   성동구  하왕십리동   1066 2020-01-01  84.960  19  120000
1            서울숲더샵  서울특별시   성동구    행당동    377 2020-01-01  92.240  13  118000
2          답십리청솔우성  서울특별시  동대문구   답십리동     80 2020-01-01  59.740   9   54000
3             다우하임  서울특별시  동대문구    장안동  344-2 2020-01-01  29.980  11   23500
4             면목삼익  서울특별시   중랑구    면목동   1516 2020-01-01  84.990   5   47500
...            ...    ...   ...    ...    ...        ...     ...  ..     ...
80729      프라이어팰리스  서울특별시   강동구    암사동    413 2020-12-31  59.983  20  115000
80730       우림루미아트  서울특별시   강동구    성내동    599 2020-12-31  84.500   7   79000
80731        금호아파트  서울특별시   강동구    천호동     44 2020-12-31  27.610   5   37800
80732    강일리버파크4단지  서울특별시   강동구    강일동    673 2020-12-31  84.740  12  111000
80733    강일리버파크9단지  서울특별시   강동구    강일동    699 2020-12-31  84.740   5  104000

[80734 rows x 9 columns]

In [88]:
# 컬럼을 삭제하고 price에 재할당합니다.
price = price.drop('일련번호', axis = 1)

### 컬럼명 변경

In [89]:
# rename() 함수로 일부 컬럼명을 변경합니다.
price = price.rename(columns = {'아파트': '아파트명'})

In [90]:
# 가격 데이터의 컬럼명을 출력합니다.
price.columns

Index(['아파트명', '시도명', '시군구', '법정동', '지번', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [91]:
# columns 속성을 사용하면 컬럼명 전체를 변경합니다.
price.columns = ['아파트', '시도', '시군구', '읍면동', '지번', '거래일', '전용면적', '층', '거래금액']

In [92]:
# 가격 데이터의 처음 다섯 행을 출력합니다.
price.head()

           아파트     시도   시군구    읍면동     지번        거래일   전용면적   층    거래금액
0  텐즈힐아파트(1단지)  서울특별시   성동구  하왕십리동   1066 2020-01-01  84.96  19  120000
1        서울숲더샵  서울특별시   성동구    행당동    377 2020-01-01  92.24  13  118000
2      답십리청솔우성  서울특별시  동대문구   답십리동     80 2020-01-01  59.74   9   54000
3         다우하임  서울특별시  동대문구    장안동  344-2 2020-01-01  29.98  11   23500
4         면목삼익  서울특별시   중랑구    면목동   1516 2020-01-01  84.99   5   47500

### 컬럼 자료형 변환

In [93]:
# 거래일 컬럼을 문자열로 변환합니다.
price['거래일'] = price['거래일'].astype('str')

In [94]:
# 거래금액 컬럼을 실수로 변환합니다.
price['거래금액'] = price['거래금액'].astype('float')

In [95]:
# 가격 데이터의 컬럼별 자료형을 확인합니다.
price.dtypes

아파트      object
시도       object
시군구      object
읍면동      object
지번       object
거래일      object
전용면적    float64
층         int64
거래금액    float64
dtype: object

In [96]:
# 거래일 컬럼을 날짜로 복원합니다.
price['거래일'] = pd.to_datetime(price['거래일'])

In [97]:
# 가격 데이터의 컬럼별 자료형을 다시 확인합니다.
price.dtypes

아파트             object
시도              object
시군구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액           float64
dtype: object

In [98]:
# astype() 함수에 딕셔너리로 입력하면 여러 컬럼을 각각 변환합니다.
price = price.astype({'층':'float', '거래금액':'int'})

In [99]:
# 가격 데이터의 컬럼별 자료형을 확인합니다.
price.dtypes

아파트             object
시도              object
시군구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액             int64
dtype: object

In [100]:
# 여러 컬럼을 하나의 자료형으로 동시에 변환합니다.
price.iloc[:, 7:9] = price.iloc[:, 7:9].astype(int)

In [101]:
# 가격 데이터의 컬럼별 자료형을 확인합니다.
price.dtypes

아파트             object
시도              object
시군구             object
읍면동             object
지번              object
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

### [참고] 문자열을 날짜 자료형으로 변환

In [102]:
# yyyy-mm-dd 형태가 아닌 문자열 데이터로 데이터프레임을 생성합니다.
dates = pd.DataFrame(['2020년 12월 13일', '2021년 1월 1일'], columns = ['날짜'])

In [103]:
# 거래일 컬럼을 날짜로 변환하려고 하면 에러가 발생합니다.
dates['날짜'] = dates['날짜'].astype('datetime64')

ParserError: Unknown string format: 2020년 12월 13일

In [104]:
# to_datetime() 함수의 format 매개변수에 날짜 포맷을 지정하면 변환됩니다.
dates['날짜'] = pd.to_datetime(dates['날짜'], format = '%Y년 %m월 %d일')

### 조건에 맞는 행 선택

In [105]:
# 거래금액이 700000(70억) 이상인 행만 선택합니다.
price.loc[price['거래금액'] >= 700000]

        아파트     시도  시군구  읍면동   지번        거래일     전용면적  층    거래금액
21625  한남더힐  서울특별시  용산구  한남동  810 2020-04-27  240.305 -1  730000
59241  한남더힐  서울특별시  용산구  한남동  810 2020-09-04  243.642  1  775000
61491  한남더힐  서울특별시  용산구  한남동  810 2020-09-21  240.230  3  730000
68239  한남더힐  서울특별시  용산구  한남동  810 2020-11-09  241.052 -1  760000
80522  한남더힐  서울특별시  용산구  한남동  810 2020-12-31  240.305  2  710000

In [106]:
# 거래금액이 70억 이상인 행을 선택하여 df1에 할당합니다.
df1 = price.loc[price['거래금액'] >= 700000]

In [107]:
# df1의 처음 10행을 출력합니다.
df1.head(10)

        아파트     시도  시군구  읍면동   지번        거래일     전용면적  층    거래금액
21625  한남더힐  서울특별시  용산구  한남동  810 2020-04-27  240.305 -1  730000
59241  한남더힐  서울특별시  용산구  한남동  810 2020-09-04  243.642  1  775000
61491  한남더힐  서울특별시  용산구  한남동  810 2020-09-21  240.230  3  730000
68239  한남더힐  서울특별시  용산구  한남동  810 2020-11-09  241.052 -1  760000
80522  한남더힐  서울특별시  용산구  한남동  810 2020-12-31  240.305  2  710000

In [108]:
# 거래금액이 70억 미만이고, 60층 이상인 행을 선택하여 df2에 할당합니다.
df2 = price.loc[(price['거래금액'] < 700000) & (price['층'] >= 60)]

In [109]:
# df2의 처음 10행을 출력합니다.
df2.head(10)

           아파트     시도  시군구  읍면동      지번        거래일     전용면적   층    거래금액
23700   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-05-11  185.622  63  350000
44541  현대하이페리온  서울특별시  양천구   목동     916 2020-07-03  154.050  66  240000
52607   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-07-25  235.740  67  542500
66396   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-10-27  185.622  66  380000
68998  현대하이페리온  서울특별시  양천구   목동     916 2020-11-13  138.200  60  210000

### 행 삭제 및 인덱스명 초기화

In [110]:
# drop() 함수에 인덱스명 스칼라/리스트를 입력하여 행을 삭제합니다.
df2.drop([23700, 44541])

           아파트     시도  시군구  읍면동      지번        거래일     전용면적   층    거래금액
52607   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-07-25  235.740  67  542500
66396   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-10-27  185.622  66  380000
68998  현대하이페리온  서울특별시  양천구   목동     916 2020-11-13  138.200  60  210000

In [111]:
# [주의] 인덱스명에 없는 값을 입력하면 에러가 발생합니다.
df2.drop([1, 2])

KeyError: '[1 2] not found in axis'

In [112]:
# df1의 인덱스명을 초기화한 결과를 출력합니다.
df1.reset_index()

   index   아파트     시도  시군구  읍면동   지번        거래일     전용면적  층    거래금액
0  21625  한남더힐  서울특별시  용산구  한남동  810 2020-04-27  240.305 -1  730000
1  59241  한남더힐  서울특별시  용산구  한남동  810 2020-09-04  243.642  1  775000
2  61491  한남더힐  서울특별시  용산구  한남동  810 2020-09-21  240.230  3  730000
3  68239  한남더힐  서울특별시  용산구  한남동  810 2020-11-09  241.052 -1  760000
4  80522  한남더힐  서울특별시  용산구  한남동  810 2020-12-31  240.305  2  710000

In [113]:
# index 컬럼이 생성되지 않도록 drop = True를 추가합니다.
df1.reset_index(drop = True)

    아파트     시도  시군구  읍면동   지번        거래일     전용면적  층    거래금액
0  한남더힐  서울특별시  용산구  한남동  810 2020-04-27  240.305 -1  730000
1  한남더힐  서울특별시  용산구  한남동  810 2020-09-04  243.642  1  775000
2  한남더힐  서울특별시  용산구  한남동  810 2020-09-21  240.230  3  730000
3  한남더힐  서울특별시  용산구  한남동  810 2020-11-09  241.052 -1  760000
4  한남더힐  서울특별시  용산구  한남동  810 2020-12-31  240.305  2  710000

In [114]:
# 인덱스명을 초기화한 결과를 df1에 재할당합니다.
df1 = df1.reset_index(drop = True)

### 결측값 처리

In [115]:
# 컬럼별 결측값 개수를 확인합니다.
price.isna().sum()

아파트      0
시도       0
시군구      0
읍면동      0
지번      25
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [116]:
# 결측값을 포함하는 행을 삭제한 결과를 출력합니다.
price.dropna()

               아파트     시도   시군구    읍면동     지번        거래일    전용면적   층    거래금액
0      텐즈힐아파트(1단지)  서울특별시   성동구  하왕십리동   1066 2020-01-01  84.960  19  120000
1            서울숲더샵  서울특별시   성동구    행당동    377 2020-01-01  92.240  13  118000
2          답십리청솔우성  서울특별시  동대문구   답십리동     80 2020-01-01  59.740   9   54000
3             다우하임  서울특별시  동대문구    장안동  344-2 2020-01-01  29.980  11   23500
4             면목삼익  서울특별시   중랑구    면목동   1516 2020-01-01  84.990   5   47500
...            ...    ...   ...    ...    ...        ...     ...  ..     ...
80729      프라이어팰리스  서울특별시   강동구    암사동    413 2020-12-31  59.983  20  115000
80730       우림루미아트  서울특별시   강동구    성내동    599 2020-12-31  84.500   7   79000
80731        금호아파트  서울특별시   강동구    천호동     44 2020-12-31  27.610   5   37800
80732    강일리버파크4단지  서울특별시   강동구    강일동    673 2020-12-31  84.740  12  111000
80733    강일리버파크9단지  서울특별시   강동구    강일동    699 2020-12-31  84.740   5  104000

[80709 rows x 9 columns]

In [117]:
# 결측값을 공백으로 채운 결과를 출력합니다.
price.fillna('')

               아파트     시도   시군구    읍면동     지번        거래일    전용면적   층    거래금액
0      텐즈힐아파트(1단지)  서울특별시   성동구  하왕십리동   1066 2020-01-01  84.960  19  120000
1            서울숲더샵  서울특별시   성동구    행당동    377 2020-01-01  92.240  13  118000
2          답십리청솔우성  서울특별시  동대문구   답십리동     80 2020-01-01  59.740   9   54000
3             다우하임  서울특별시  동대문구    장안동  344-2 2020-01-01  29.980  11   23500
4             면목삼익  서울특별시   중랑구    면목동   1516 2020-01-01  84.990   5   47500
...            ...    ...   ...    ...    ...        ...     ...  ..     ...
80729      프라이어팰리스  서울특별시   강동구    암사동    413 2020-12-31  59.983  20  115000
80730       우림루미아트  서울특별시   강동구    성내동    599 2020-12-31  84.500   7   79000
80731        금호아파트  서울특별시   강동구    천호동     44 2020-12-31  27.610   5   37800
80732    강일리버파크4단지  서울특별시   강동구    강일동    673 2020-12-31  84.740  12  111000
80733    강일리버파크9단지  서울특별시   강동구    강일동    699 2020-12-31  84.740   5  104000

[80734 rows x 9 columns]

In [118]:
# 가격 데이터에서 결측값을 삭제하고 재할당합니다.
price = price.dropna()

In [119]:
# 컬럼별 결측값 개수를 다시 확인합니다.
price.isna().sum()

아파트     0
시도      0
시군구     0
읍면동     0
지번      0
거래일     0
전용면적    0
층       0
거래금액    0
dtype: int64

### 파생변수 생성

In [120]:
# 거래금액을 전용면적으로 나눈 새로운 컬럼을 생성합니다.
price['단위금액'] = price['거래금액'] / price['전용면적']

In [121]:
# 가격 데이터의 처음 다섯 행을 출력합니다.
price.head()

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.96,19,120000,1412.429379
1,서울숲더샵,서울특별시,성동구,행당동,377,2020-01-01,92.24,13,118000,1279.271466
2,답십리청솔우성,서울특별시,동대문구,답십리동,80,2020-01-01,59.74,9,54000,903.916974
3,다우하임,서울특별시,동대문구,장안동,344-2,2020-01-01,29.98,11,23500,783.855904
4,면목삼익,서울특별시,중랑구,면목동,1516,2020-01-01,84.99,5,47500,558.889281

In [122]:
# 단위금액 컬럼값을 반올림하여 소수점 둘째 자리까지 남깁니다.
price['단위금액'] = price['단위금액'].round(2)

In [124]:
# 거래금액 컬럼을 만원 단위에서 억원 단위로 변경합니다.
price['거래금액'] = price['거래금액'] / 10000

In [125]:
# 가격 데이터의 처음 다섯 행을 출력합니다.
price.head()

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.96,19,12.00,1412.43
1,서울숲더샵,서울특별시,성동구,행당동,377,2020-01-01,92.24,13,11.80,1279.27
2,답십리청솔우성,서울특별시,동대문구,답십리동,80,2020-01-01,59.74,9,5.40,903.92
3,다우하임,서울특별시,동대문구,장안동,344-2,2020-01-01,29.98,11,2.35,783.86
4,면목삼익,서울특별시,중랑구,면목동,1516,2020-01-01,84.99,5,4.75,558.89

In [126]:
# 단위금액의 크기를 1천만원 기준으로 구분하는 이진형 컬럼을 생성합니다.
price.loc[price['단위금액'] >= 1000, '금액구분'] = '이상'
price.loc[price['단위금액'] < 1000, '금액구분'] = '미만'

In [127]:
# 가격 데이터의 처음 다섯 행을 출력합니다.
price.head()

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액,금액구분
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.96,19,12.00,1412.43,이상
1,서울숲더샵,서울특별시,성동구,행당동,377,2020-01-01,92.24,13,11.80,1279.27,이상
2,답십리청솔우성,서울특별시,동대문구,답십리동,80,2020-01-01,59.74,9,5.40,903.92,미만
3,다우하임,서울특별시,동대문구,장안동,344-2,2020-01-01,29.98,11,2.35,783.86,미만
4,면목삼익,서울특별시,중랑구,면목동,1516,2020-01-01,84.99,5,4.75,558.89,미만

In [128]:
# 여러 컬럼값을 결합하여 지번주소 컬럼을 생성합니다.
price['지번주소'] = price['시도'] + ' ' + price['시군구'] + ' ' + price['읍면동'] + ' ' + price['지번']

#### [참고] 같은 함수 반복 실행 실습

In [129]:
# 거래금액 컬럼의 각 원소에 10000을 곱하고 정수로 변환합니다.
price['거래금액'].map(lambda x: x*10000).astype('int')

0        120000
1        118000
2         54000
3         23500
4         47500
          ...
80729    115000
80730     79000
80731     37800
80732    111000
80733    104000
Name: 거래금액, Length: 80709, dtype: int64

In [130]:
# 시도~지번 컬럼을 갖는 데이터프레임 각 열의 길이를 반환합니다.
price.loc[:, '시도':'지번'].apply(len, axis = 0)

시도     80709
시군구    80709
읍면동    80709
지번     80709
dtype: int64

In [131]:
# 시도~지번 컬럼을 갖는 데이터프레임 각 행의 길이를 반환합니다.
price.loc[:, '시도':'지번'].apply(len, axis = 1)

0        4
1        4
2        4
3        4
4        4
        ..
80729    4
80730    4
80731    4
80732    4
80733    4
Length: 80709, dtype: int64

In [132]:
# 시도~지번 컬럼을 갖는 데이터프레임 각 행 원소를 하나로 결합합니다.
price.loc[:, '시도':'지번'].apply(lambda x: ' '.join(x), axis = 1)

0        서울특별시 성동구 하왕십리동 1066
1           서울특별시 성동구 행당동 377
2          서울특별시 동대문구 답십리동 80
3        서울특별시 동대문구 장안동 344-2
4          서울특별시 중랑구 면목동 1516
                 ...
80729       서울특별시 강동구 암사동 413
80730       서울특별시 강동구 성내동 599
80731        서울특별시 강동구 천호동 44
80732       서울특별시 강동구 강일동 673
80733       서울특별시 강동구 강일동 699
Length: 80709, dtype: object

In [133]:
# 시도~지번 컬럼을 갖는 데이터프레임 각 원소의 길이를 반환합니다.
price.loc[:, '시도':'지번'].applymap(len)

       시도  시군구  읍면동  지번
0       5    3    5   4
1       5    3    3   3
2       5    4    4   2
3       5    4    3   5
4       5    3    3   4
...    ..  ...  ...  ..
80729   5    3    3   3
80730   5    3    3   3
80731   5    3    3   2
80732   5    3    3   3
80733   5    3    3   3

[80709 rows x 4 columns]

#### [참고] 날짜 컬럼 분해

In [134]:
# 날짜 자료형에서 연도만 추출합니다.
price['거래일'].dt.year

0        2020
1        2020
2        2020
3        2020
4        2020
         ...
80729    2020
80730    2020
80731    2020
80732    2020
80733    2020
Name: 거래일, Length: 80709, dtype: int64

In [135]:
# 날짜 자료형에서 월만 추출합니다.
price['거래일'].dt.month

0         1
1         1
2         1
3         1
4         1
         ..
80729    12
80730    12
80731    12
80732    12
80733    12
Name: 거래일, Length: 80709, dtype: int64

In [136]:
# 날짜 자료형에서 일만 추출합니다.
price['거래일'].dt.day

0         1
1         1
2         1
3         1
4         1
         ..
80729    31
80730    31
80731    31
80732    31
80733    31
Name: 거래일, Length: 80709, dtype: int64

In [137]:
# 날짜 자료형에서 시만 추출합니다.
price['거래일'].dt.hour

0        0
1        0
2        0
3        0
4        0
        ..
80729    0
80730    0
80731    0
80732    0
80733    0
Name: 거래일, Length: 80709, dtype: int64

In [138]:
# 날짜 자료형에서 분만 추출합니다.
price['거래일'].dt.minute

0        0
1        0
2        0
3        0
4        0
        ..
80729    0
80730    0
80731    0
80732    0
80733    0
Name: 거래일, Length: 80709, dtype: int64

In [139]:
# 날짜 자료형에서 초만 추출합니다.
price['거래일'].dt.second

0        0
1        0
2        0
3        0
4        0
        ..
80729    0
80730    0
80731    0
80732    0
80733    0
Name: 거래일, Length: 80709, dtype: int64

### 집계함수로 데이터 요약

In [140]:
# 시군구별 단위금액 빈도수를 반환합니다.
price.groupby('시군구').count()['거래금액']

시군구
강남구     3615
강동구     4099
강북구     2092
강서구     5651
관악구     2569
광진구     1244
구로구     4876
금천구     1473
노원구     8715
도봉구     4375
동대문구    3079
동작구     2830
마포구     2751
서대문구    2713
서초구     3162
성동구     2921
성북구     4159
송파구     4473
양천구     3355
영등포구    3340
용산구     1459
은평구     3311
종로구      742
중구       982
중랑구     2723
Name: 거래금액, dtype: int64

In [141]:
# 시군구별 단위금액 합계를 반환합니다.
price.groupby('시군구').sum()['거래금액']

시군구
강남구     65562.2552
강동구     34615.6737
강북구     11739.9900
강서구     38312.2583
관악구     16017.9222
광진구     13272.7500
구로구     26592.4217
금천구      7290.9235
노원구     45473.7730
도봉구     20020.0600
동대문구    21835.5184
동작구     27598.5781
마포구     27867.3744
서대문구    21334.9968
서초구     55217.7194
성동구     33223.7493
성북구     28551.4116
송파구     58385.8719
양천구     29806.9477
영등포구    29964.4215
용산구     22064.6564
은평구     20707.6492
종로구      6215.1429
중구       9078.7105
중랑구     13879.2190
Name: 거래금액, dtype: float64

In [142]:
# 시군구별 단위금액 평균을 반환합니다.
price.groupby('시군구').mean()['단위금액']

시군구
강남구     2091.012598
강동구     1170.814987
강북구      769.775531
강서구      966.118843
관악구      874.033243
광진구     1292.313497
구로구      771.494674
금천구      730.706538
노원구      844.149993
도봉구      676.571051
동대문구     992.247928
동작구     1229.730481
마포구     1344.089924
서대문구    1040.408120
서초구     1907.915825
성동구     1468.693458
성북구      913.888887
송파구     1600.924719
양천구     1141.513255
영등포구    1177.527326
용산구     1596.273838
은평구      826.131945
종로구     1053.473787
중구      1135.959358
중랑구      757.423404
Name: 단위금액, dtype: float64

In [143]:
# 시군구별 단위금액 표준편차를 반환합니다.
price.groupby('시군구').std()['단위금액']

시군구
강남구     706.531530
강동구     417.477275
강북구     221.297617
강서구     289.908533
관악구     217.373337
광진구     361.530854
구로구     285.207866
금천구     262.485211
노원구     217.833149
도봉구     207.201375
동대문구    328.306251
동작구     351.155961
마포구     398.730508
서대문구    378.748214
서초구     814.184055
성동구     436.209154
성북구     264.218887
송파구     568.850562
양천구     544.938218
영등포구    325.926582
용산구     481.443742
은평구     274.878308
종로구     462.800367
중구      318.427422
중랑구     168.628239
Name: 단위금액, dtype: float64

In [144]:
# 시군구별 단위금액 최소값을 반환합니다.
price.groupby('시군구').min()['단위금액']

시군구
강남구     449.16
강동구     305.27
강북구     170.91
강서구     205.66
관악구     281.37
광진구     341.95
구로구     165.48
금천구     202.81
노원구     302.14
도봉구     154.76
동대문구    352.50
동작구     314.77
마포구     427.95
서대문구    251.57
서초구     410.34
성동구     315.68
성북구     232.85
송파구     314.51
양천구     210.90
영등포구    355.49
용산구     331.42
은평구     247.37
종로구     316.01
중구      240.68
중랑구     276.02
Name: 단위금액, dtype: float64

In [145]:
# 시군구별 단위금액 최대값을 반환합니다.
price.groupby('시군구').max()['단위금액']

시군구
강남구     5471.10
강동구     2456.46
강북구     1538.00
강서구     1883.88
관악구     1653.31
광진구     2500.42
구로구     1750.00
금천구     1621.84
노원구     2126.33
도봉구     1355.93
동대문구    2167.39
동작구     2737.19
마포구     2559.80
서대문구    2337.23
서초구     4378.02
성동구     3949.87
성북구     1961.60
송파구     4154.62
양천구     2765.40
영등포구    2693.74
용산구     3970.78
은평구     1741.24
종로구     2589.59
중구      2079.16
중랑구     1579.69
Name: 단위금액, dtype: float64

In [146]:
# 시군구별 단위금액의 기술통계량을 한 번에 반환합니다.
price.groupby('시군구').describe()['단위금액']

,count,mean,std,min,25%,50%,75%,max
시군구,,,,,,,,
강남구,3615.0,2091.012598,706.531530,449.16,1542.4400,2151.900,2591.9200,5471.10
강동구,4099.0,1170.814987,417.477275,305.27,831.9600,1117.780,1458.7000,2456.46
강북구,2092.0,769.775531,221.297617,170.91,609.4900,740.555,905.4700,1538.00
강서구,5651.0,966.118843,289.908533,205.66,763.9800,946.370,1154.6200,1883.88
관악구,2569.0,874.033243,217.373337,281.37,712.0200,860.750,1020.6500,1653.31
광진구,1244.0,1292.313497,361.530854,341.95,1057.3425,1325.460,1564.9900,2500.42
구로구,4876.0,771.494674,285.207866,165.48,568.4750,745.945,946.1200,1750.00
금천구,1473.0,730.706538,262.485211,202.81,553.1400,682.590,865.6400,1621.84
노원구,8715.0,844.149993,217.833149,302.14,694.9600,813.940,969.5150,2126.33
도봉구,4375.0,676.571051,207.201375,154.76,506.3300,634.750,823.5800,1355.93
동대문구,3079.0,992.247928,328.306251,352.50,748.8450,940.310,1170.7700,2167.39
동작구,2830.0,1229.730481,351.155961,314.77,999.0150,1183.310,1455.2925,2737.19
마포구,2751.0,1344.089924,398.730508,427.95,1056.1350,1317.800,1594.5600,2559.80
서대문구,2713.0,1040.408120,378.748214,251.57,767.0500,997.830,1265.1400,2337.23
서초구,3162.0,1907.915825,814.184055,410.34,1215.2350,1753.885,2436.1000,4378.02
성동구,2921.0,1468.693458,436.209154,315.68,1144.1400,1417.600,1734.2000,3949.87
성북구,4159.0,913.888887,264.218887,232.85,721.6500,883.390,1075.4850,1961.60
송파구,4473.0,1600.924719,568.850562,314.51,1179.3800,1523.200,1956.7500,4154.62
양천구,3355.0,1141.513255,544.938218,210.90,717.6700,1010.100,1533.5600,2765.40
영등포구,3340.0,1177.527326,325.926582,355.49,952.5375,1135.840,1359.6075,2693.74
용산구,1459.0,1596.273838,481.443742,331.42,1275.0900,1543.360,1859.6450,3970.78
은평구,3311.0,826.131945,274.878308,247.37,604.0700,814.280,1014.0050,1741.24
종로구,742.0,1053.473787,462.800367,316.01,730.4825,944.255,1230.7875,2589.59
중구,982.0,1135.959358,318.427422,240.68,947.7925,1105.500,1363.3325,2079.16
중랑구,2723.0,757.423404,168.628239,276.02,651.0850,743.420,859.4550,1579.69

### 데이터프레임 구조 변경

In [147]:
# 두 개의 컬럼으로 데이터를 요약하여 Long type의 데이터프레임을 생성합니다.
long = price.groupby(['시군구', '금액구분']).count()[['단위금액']]

In [148]:
# long의 처음 10행만 출력합니다.
long.head(10)

          단위금액
시군구 금액구분
강남구 미만     198
    이상    3417
강동구 미만    1564
    이상    2535
강북구 미만    1738
    이상     354
강서구 미만    3231
    이상    2420
관악구 미만    1847
    이상     722

In [149]:
# 단위금액 컬럼명을 건수로 변경합니다.
long.columns = ['건수']

In [150]:
# Long type을 Wide type으로 변경합니다.
wide = long.unstack()

In [151]:
# wide의 처음 10행만 출력합니다.
wide.head(10)

        건수
금액구분    미만    이상
시군구
강남구    198  3417
강동구   1564  2535
강북구   1738   354
강서구   3231  2420
관악구   1847   722
광진구    255   989
구로구   3868  1008
금천구   1275   198
노원구   6844  1871
도봉구   3985   390

In [152]:
# Wide type을 Long type으로 변경하고 처음 10행만 출력합니다.
wide.stack().head(10)

            건수
시군구 금액구분
강남구 미만     198
    이상    3417
강동구 미만    1564
    이상    2535
강북구 미만    1738
    이상     354
강서구 미만    3231
    이상    2420
관악구 미만    1847
    이상     722

### 피벗 테이블 생성

In [153]:
# 원데이터로부터 피벗 테이블을 생성합니다.
pd.pivot_table(data = price, 
               index = '시군구', 
               columns = '금액구분', 
               values = '단위금액', 
               aggfunc = ['mean', 'std'])

            mean                      std
금액구분          미만           이상          미만          이상
시군구
강남구   887.453434  2160.753515  102.100035  662.338770
강동구   763.310077  1422.230245  137.354052  323.254729
강북구   696.279977  1130.609633  157.015143  107.758403
강서구   763.636453  1236.457934  161.664380  183.122640
관악구   767.832328  1145.713421  141.735963  118.555845
광진구   762.851333  1428.828008  164.853445  257.768934
구로구   659.877725  1199.802569  189.171514  157.757555
금천구   650.493961  1247.226919  164.724495  171.898250
노원구   757.539359  1160.966232  131.730821  172.442693
도봉구   636.207882  1088.999846  168.035514   79.588690
동대문구  764.397142  1290.693143  149.181833  250.452813
동작구   824.815742  1366.360501  146.218031  289.318238
마포구   824.471141  1474.526289  125.007766  331.913461
서대문구  744.985128  1341.326332  172.898508  282.212059
서초구   856.997626  2042.091544  104.393284  766.228001
성동구   853.486317  1548.121051  120.352545  397.233574
성북구   758.586381  1207.130215  147.956624  169.557834
송파구   814.978227  1724.796721  131.223041  509.082032
양천구   695.178888  1566.296864  186.788084  419.863475
영등포구  832.409921  1326.491419  117.249818  269.326718
용산구   791.704790  1667.724373  158.137552  433.064666
은평구   696.250436  1185.485563  176.114779  151.532633
종로구   736.084706  1441.182605  153.612152  416.622160
중구    787.737700  1298.879208  177.741109  225.280215
중랑구   728.545443  1106.596827  137.152045  113.234901

### 데이터프레임 결합

In [154]:
# 컬럼명이 같은 df1과 df2를 세로 방향으로 결합한 결과를 반환합니다.
pd.concat([df1, df2])

           아파트     시도  시군구  읍면동      지번        거래일     전용면적   층    거래금액
0         한남더힐  서울특별시  용산구  한남동     810 2020-04-27  240.305  -1  730000
1         한남더힐  서울특별시  용산구  한남동     810 2020-09-04  243.642   1  775000
2         한남더힐  서울특별시  용산구  한남동     810 2020-09-21  240.230   3  730000
3         한남더힐  서울특별시  용산구  한남동     810 2020-11-09  241.052  -1  760000
4         한남더힐  서울특별시  용산구  한남동     810 2020-12-31  240.305   2  710000
23700   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-05-11  185.622  63  350000
44541  현대하이페리온  서울특별시  양천구   목동     916 2020-07-03  154.050  66  240000
52607   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-07-25  235.740  67  542500
66396   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-10-27  185.622  66  380000
68998  현대하이페리온  서울특별시  양천구   목동     916 2020-11-13  138.200  60  210000

In [155]:
# 두 데이터프레임을 결합한 결과에서 인덱스명을 초기화합니다.
pd.concat([df1, df2], ignore_index = True)

       아파트     시도  시군구  읍면동      지번        거래일     전용면적   층    거래금액
0     한남더힐  서울특별시  용산구  한남동     810 2020-04-27  240.305  -1  730000
1     한남더힐  서울특별시  용산구  한남동     810 2020-09-04  243.642   1  775000
2     한남더힐  서울특별시  용산구  한남동     810 2020-09-21  240.230   3  730000
3     한남더힐  서울특별시  용산구  한남동     810 2020-11-09  241.052  -1  760000
4     한남더힐  서울특별시  용산구  한남동     810 2020-12-31  240.305   2  710000
5   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-05-11  185.622  63  350000
6  현대하이페리온  서울특별시  양천구   목동     916 2020-07-03  154.050  66  240000
7   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-07-25  235.740  67  542500
8   타워팰리스3  서울특별시  강남구  도곡동  467-29 2020-10-27  185.622  66  380000
9  현대하이페리온  서울특별시  양천구   목동     916 2020-11-13  138.200  60  210000

In [156]:
# df2의 일부 컬럼명을 변경합니다.
df2 = df2.rename(columns = {'아파트':'아파트명'})

In [157]:
# 컬럼명이 다른 df1과 df2를 세로 방향으로 결합한 결과를 반환합니다.
pd.concat([df1, df2])

        아파트     시도  시군구  읍면동      지번        거래일     전용면적   층    거래금액     아파트명
0      한남더힐  서울특별시  용산구  한남동     810 2020-04-27  240.305  -1  730000      NaN
1      한남더힐  서울특별시  용산구  한남동     810 2020-09-04  243.642   1  775000      NaN
2      한남더힐  서울특별시  용산구  한남동     810 2020-09-21  240.230   3  730000      NaN
3      한남더힐  서울특별시  용산구  한남동     810 2020-11-09  241.052  -1  760000      NaN
4      한남더힐  서울특별시  용산구  한남동     810 2020-12-31  240.305   2  710000      NaN
23700   NaN  서울특별시  강남구  도곡동  467-29 2020-05-11  185.622  63  350000   타워팰리스3
44541   NaN  서울특별시  양천구   목동     916 2020-07-03  154.050  66  240000  현대하이페리온
52607   NaN  서울특별시  강남구  도곡동  467-29 2020-07-25  235.740  67  542500   타워팰리스3
66396   NaN  서울특별시  강남구  도곡동  467-29 2020-10-27  185.622  66  380000   타워팰리스3
68998   NaN  서울특별시  양천구   목동     916 2020-11-13  138.200  60  210000  현대하이페리온

In [158]:
# 인덱스명이 다른 df1과 df2를 가로 방향으로 결합한 결과를 반환합니다.
pd.concat([df1, df2], axis = 1)

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,아파트명,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액
0,한남더힐,서울특별시,용산구,한남동,810,2020-04-27,240.305,-1.0,730000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,한남더힐,서울특별시,용산구,한남동,810,2020-09-04,243.642,1.0,775000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
2,한남더힐,서울특별시,용산구,한남동,810,2020-09-21,240.230,3.0,730000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
3,한남더힐,서울특별시,용산구,한남동,810,2020-11-09,241.052,-1.0,760000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
4,한남더힐,서울특별시,용산구,한남동,810,2020-12-31,240.305,2.0,710000.0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
23700,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2020-05-11,185.622,63.0,350000.0
44541,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2020-07-03,154.050,66.0,240000.0
52607,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2020-07-25,235.740,67.0,542500.0
66396,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,타워팰리스3,서울특별시,강남구,도곡동,467-29,2020-10-27,185.622,66.0,380000.0
68998,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,현대하이페리온,서울특별시,양천구,목동,916,2020-11-13,138.200,60.0,210000.0

### 외래키 확인 및 전처리

In [159]:
# 가격 데이터와 상세정보 데이터에서 일치하는 컬럼명을 찾습니다.
set(price.columns) & set(detail.columns)

{'지번주소'}

In [160]:
# 가격 데이터의 지번주소를 출력합니다.
price['지번주소']

0        서울특별시 성동구 하왕십리동 1066
1           서울특별시 성동구 행당동 377
2          서울특별시 동대문구 답십리동 80
3        서울특별시 동대문구 장안동 344-2
4          서울특별시 중랑구 면목동 1516
                 ...
80729       서울특별시 강동구 암사동 413
80730       서울특별시 강동구 성내동 599
80731        서울특별시 강동구 천호동 44
80732       서울특별시 강동구 강일동 673
80733       서울특별시 강동구 강일동 699
Name: 지번주소, Length: 80709, dtype: object

In [161]:
# 상세정보 데이터의 지번주소를 출력합니다.
detail['지번주소']

0       서울 광진구 자양동 680-14
1        서울 노원구 공릉동 670-7
2       서울 송파구 가락동 177-10
3        서울 송파구 가락동 141-7
4         서울 송파구 가락동 95-1
              ...
9140    서울 관악구 봉천동 912-14
9141    서울 광진구 자양동 663-21
9142    서울 중랑구 상봉동 102-42
9143    서울 중랑구 상봉동 102-30
9144    서울 은평구 대조동 186-44
Name: 지번주소, Length: 9145, dtype: object

In [162]:
# 가격 데이터의 지번주소에서 '특별시'를 삭제합니다.
price['지번주소'] = price['지번주소'].str.replace('특별시', '')

In [163]:
# 가격 데이터의 지번주소를 다시 출력합니다.
price['지번주소']

0        서울 성동구 하왕십리동 1066
1           서울 성동구 행당동 377
2          서울 동대문구 답십리동 80
3        서울 동대문구 장안동 344-2
4          서울 중랑구 면목동 1516
               ...
80729       서울 강동구 암사동 413
80730       서울 강동구 성내동 599
80731        서울 강동구 천호동 44
80732       서울 강동구 강일동 673
80733       서울 강동구 강일동 699
Name: 지번주소, Length: 80709, dtype: object

### 데이터프레임 중복 확인 및 제거

In [164]:
# 상세정보 데이터에서 지번주소 컬럼의 중복 건수를 출력합니다.
detail.duplicated(['지번주소']).sum()

25

In [165]:
# 지번주소 컬럼이 중복인 인덱스를 추출합니다.
dup = detail.duplicated(['지번주소'], keep = False)
print(dup)

0       False
1       False
2       False
3       False
4       False
        ...
9140    False
9141    False
9142    False
9143    False
9144    False
Length: 9145, dtype: bool

In [166]:
# 상세정보 데이터에서 지번주소 컬럼이 중복인 행만 선택합니다.
detail.loc[dup]

,ID,아파트명,지번주소,세대수,임대수,동수,용적률,건폐율,주차대수
199,1303,개포주공6단지,서울 강남구 개포동 185,1060,0,9,0,0,300
200,1307,개포주공7단지,서울 강남구 개포동 185,900,0,8,0,0,400
555,67,광장극동2차,서울 광진구 광장동 218-1,896,0,11,0,0,896
719,374,극동,서울 동작구 사당동 105,1550,0,12,248,18,981
726,66,극동1차,서울 광진구 광장동 218-1,448,0,5,204,0,500
991,123685,노들리안3,서울 관악구 봉천동 1667-13,1,0,1,408,52,0
992,123686,노들리안3(도시형),서울 관악구 봉천동 1667-13,21,0,1,408,52,11
1515,419,대청,서울 강남구 개포동 12,822,0,6,0,0,700
1516,483,대치2단지,서울 강남구 개포동 12,1758,0,11,174,12,1758
1589,132163,더스타일하우스디센트럴,서울 서대문구 충정로3가 480,199,199,2,464,53,137
1590,132162,더스타일하우스디센트럴(도시형),서울 서대문구 충정로3가 480,300,300,2,464,53,115
2251,107916,래미안대치팰리스1단지,서울 강남구 대치동 1027,1278,20,13,258,15,2478
2252,107917,래미안대치팰리스2단지,서울 강남구 대치동 1027,330,20,4,258,15,601
2660,119076,만연샌텀시티,서울 은평구 갈현동 456-8,1,0,1,430,51,0
2661,119075,만연샌텀시티(도시형),서울 은평구 갈현동 456-8,18,0,1,430,51,4
3006,133402,미사아름채,서울 강동구 천호동 452-15,1,0,1,553,59,0
3007,133403,미사아름채(도시형),서울 강동구 천호동 452-15,130,0,1,553,59,65
3013,620,미성,서울 송파구 신천동 17-6,1230,0,9,0,0,2091
3575,380,사당우성2단지,서울 동작구 사당동 105,1079,0,8,248,18,1299
3576,381,사당우성3단지,서울 동작구 사당동 105,855,0,6,0,0,1710
4992,378,신동아4차,서울 동작구 사당동 105,912,0,8,0,0,912
5315,119123,씨즈건대힐스,서울 광진구 화양동 530,1,0,1,249,36,1
5316,116717,씨즈건대힐스(도시형),서울 광진구 화양동 530,148,0,1,249,36,74
6761,3754,장미2차,서울 송파구 신천동 11,1302,0,10,0,0,1302
6762,622,장미3차,서울 송파구 신천동 11,120,0,2,0,0,0
6896,109134,제이드파크(도시형),서울 동대문구 장안동 382-2,28,0,1,489,59,14
6897,109130,제이드파크(아),서울 동대문구 장안동 382-2,12,0,1,489,59,6
6975,3379,주공1단지,서울 동대문구 휘경동 57,1224,0,13,257,20,2513
6976,100207,주공2단지,서울 동대문구 휘경동 57,800,0,7,0,0,1200
6977,902,주공고층3단지,서울 강동구 둔촌동 174-1,1480,0,25,0,0,1468
6980,901,주공저층2단지,서울 강동구 둔촌동 174-1,900,0,36,0,0,630
7298,25841,청구(284),서울 노원구 하계동 284,660,0,5,214,15,330
7589,1284,크로바,서울 송파구 신천동 17-6,120,0,2,0,0,264
7741,123905,테라팰리스건대2차,서울 광진구 자양동 860,68,0,1,249,31,72
7742,123902,테라팰리스건대2차(도시형),서울 광진구 자양동 860,10,0,1,249,31,8
7984,110384,하나세인스톤2차,서울 구로구 구로동 97-4,9,0,1,776,57,3
7985,102801,하나세인스톤2차(도시형),서울 구로구 구로동 97-4,91,0,1,766,57,35
8119,109492,한남아이파크,서울 용산구 한남동 828,10,0,1,787,58,8
8120,109469,한남아이파크(도시형),서울 용산구 한남동 828,270,0,1,787,58,240
8222,263,한신,서울 노원구 하계동 284,1200,0,4,214,15,840
8544,724,"현대6,7차",서울 강남구 압구정동 456,1288,0,15,210,16,1120
8545,27498,현대65동(대림아크로빌),서울 강남구 압구정동 456,56,0,1,240,20,89
8810,105912,화양타워(도시형),서울 광진구 화양동 110-37,54,0,1,489,73,137
8811,14620,화양타워(아),서울 광진구 화양동 110-37,38,0,1,489,59,37
8876,126357,훼미리타운,서울 서초구 방배동 932-34,1,0,1,198,43,0
8877,106897,훼미리타운(도시형),서울 서초구 방배동 932-34,27,0,1,198,43,19
9085,25418,MY,서울 광진구 구의동 251-1,1,0,1,199,59,0
9086,120820,MY(도시형),서울 광진구 구의동 251-1,12,0,1,199,59,4

In [167]:
# 지번주소 컬럼이 중복이면 첫 번째 행을 남기고 재할당합니다.
detail = detail.drop_duplicates(['지번주소'], keep = 'first')

### 데이터프레임 병합

In [168]:
# 내부 병합을 실행합니다.
pd.merge(price, detail, 'inner', on = '지번주소')

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액,금액구분,지번주소,ID,아파트명,세대수,임대수,동수,용적률,건폐율,주차대수
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.96,19,12.00,1412.43,이상,서울 성동구 하왕십리동 1066,107240,텐즈힐1,1702,333,21,224,21,2431
1,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-03,72.52,12,12.30,1696.08,이상,서울 성동구 하왕십리동 1066,107240,텐즈힐1,1702,333,21,224,21,2431
2,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-04,84.96,3,12.50,1471.28,이상,서울 성동구 하왕십리동 1066,107240,텐즈힐1,1702,333,21,224,21,2431
3,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-05,84.88,2,13.40,1578.70,이상,서울 성동구 하왕십리동 1066,107240,텐즈힐1,1702,333,21,224,21,2431
4,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-13,84.96,2,12.30,1447.74,이상,서울 성동구 하왕십리동 1066,107240,텐즈힐1,1702,333,21,224,21,2431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77075,마곡 보타닉,서울특별시,강서구,가양동,235-4,2020-12-29,59.80,4,5.40,903.01,미만,서울 강서구 가양동 235-4,124903,마곡보타닉,27,0,1,246,39,24
77076,방배비젼21빌라트,서울특별시,서초구,방배동,849-2,2020-12-29,187.34,2,18.00,960.82,미만,서울 서초구 방배동 849-2,119963,방배비젼21빌라트,14,0,1,282,44,32
77077,롯데캐슬파크(40),서울특별시,서초구,방배동,888-40,2020-12-29,244.75,4,19.00,776.30,미만,서울 서초구 방배동 888-40,10692,롯데캐슬파크,57,0,3,0,0,0
77078,두원A동,서울특별시,양천구,신월동,485-2,2020-12-30,84.99,3,4.05,476.53,미만,서울 양천구 신월동 485-2,19051,두원,38,0,2,0,0,44
77079,상지리츠빌(10),서울특별시,서초구,서초동,1517-6,2020-12-30,175.22,5,22.00,1255.56,이상,서울 서초구 서초동 1517-6,25504,서초상지리츠빌10차,19,0,1,199,34,49

In [169]:
# 외부 병합을 실행합니다.
pd.merge(price, detail, 'outer', on = '지번주소')

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액,금액구분,지번주소,ID,아파트명,세대수,임대수,동수,용적률,건폐율,주차대수
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.96,19.0,12.0,1412.43,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
1,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-03,72.52,12.0,12.3,1696.08,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
2,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-04,84.96,3.0,12.5,1471.28,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
3,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-05,84.88,2.0,13.4,1578.70,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
4,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-02-13,84.96,2.0,12.3,1447.74,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83918,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,서울 관악구 남현동 602-284,118688.0,VIP,10.0,0.0,1.0,218.0,47.0,11.0
83919,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,서울 관악구 봉천동 912-16,138722.0,YK서울대,26.0,0.0,1.0,499.0,57.0,13.0
83920,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,서울 관악구 봉천동 912-14,125085.0,YK타워(도시형),24.0,0.0,1.0,399.0,59.0,12.0
83921,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,서울 중랑구 상봉동 102-42,124441.0,YMS타워,24.0,0.0,3.0,0.0,0.0,0.0
83922,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,서울 중랑구 상봉동 102-30,124440.0,YMS타워(도시형),21.0,0.0,1.0,0.0,0.0,0.0

In [170]:
# 왼쪽 외부 병합을 실행합니다.
pd.merge(price, detail, 'left', on = '지번주소')

,아파트,시도,시군구,읍면동,지번,거래일,전용면적,층,거래금액,단위금액,금액구분,지번주소,ID,아파트명,세대수,임대수,동수,용적률,건폐율,주차대수
0,텐즈힐아파트(1단지),서울특별시,성동구,하왕십리동,1066,2020-01-01,84.960,19,12.00,1412.43,이상,서울 성동구 하왕십리동 1066,107240.0,텐즈힐1,1702.0,333.0,21.0,224.0,21.0,2431.0
1,서울숲더샵,서울특별시,성동구,행당동,377,2020-01-01,92.240,13,11.80,1279.27,이상,서울 성동구 행당동 377,103112.0,서울숲더샵,495.0,0.0,3.0,392.0,34.0,937.0
2,답십리청솔우성,서울특별시,동대문구,답십리동,80,2020-01-01,59.740,9,5.40,903.92,미만,서울 동대문구 답십리동 80,3273.0,답십리청솔우성,1542.0,432.0,16.0,258.0,19.0,1377.0
3,다우하임,서울특별시,동대문구,장안동,344-2,2020-01-01,29.980,11,2.35,783.86,미만,서울 동대문구 장안동 344-2,122416.0,다우하임,28.0,0.0,1.0,607.0,58.0,22.0
4,면목삼익,서울특별시,중랑구,면목동,1516,2020-01-01,84.990,5,4.75,558.89,미만,서울 중랑구 면목동 1516,1247.0,면목삼익,216.0,0.0,3.0,402.0,27.0,233.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80704,프라이어팰리스,서울특별시,강동구,암사동,413,2020-12-31,59.983,20,11.50,1917.21,이상,서울 강동구 암사동 413,19578.0,프라이어팰리스,1622.0,0.0,22.0,277.0,15.0,2185.0
80705,우림루미아트,서울특별시,강동구,성내동,599,2020-12-31,84.500,7,7.90,934.91,미만,서울 강동구 성내동 599,13860.0,우림루미아트,69.0,0.0,1.0,232.0,29.0,79.0
80706,금호아파트,서울특별시,강동구,천호동,44,2020-12-31,27.610,5,3.78,1369.07,이상,서울 강동구 천호동 44,999.0,금호,232.0,0.0,1.0,248.0,22.0,37.0
80707,강일리버파크4단지,서울특별시,강동구,강일동,673,2020-12-31,84.740,12,11.10,1309.89,이상,서울 강동구 강일동 673,27476.0,강일리버파크4단지,748.0,470.0,10.0,179.0,17.0,831.0
80708,강일리버파크9단지,서울특별시,강동구,강일동,699,2020-12-31,84.740,5,10.40,1227.28,이상,서울 강동구 강일동 699,27481.0,강일리버파크9단지,841.0,737.0,13.0,163.0,15.0,980.0

In [171]:
# 가격 데이터의 외래키 컬럼명을 변경합니다.
price = price.rename(columns = {'지번주소':'주소'})

In [172]:
# 외래키 컬럼명이 서로 일치하지 않으면 반드시 지정해야 합니다.
apt = pd.merge(price, detail, left_on = '주소', right_on = '지번주소')

In [173]:
# apt의 정보를 확인합니다.
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77080 entries, 0 to 77079
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트     77080 non-null  object
 1   시도      77080 non-null  object
 2   시군구     77080 non-null  object
 3   읍면동     77080 non-null  object
 4   지번      77080 non-null  object
 5   거래일     77080 non-null  datetime64[ns]
 6   전용면적    77080 non-null  float64
 7   층       77080 non-null  int64
 8   거래금액    77080 non-null  float64
 9   단위금액    77080 non-null  float64
 10  금액구분    77080 non-null  object
 11  주소      77080 non-null  object
 12  ID      77080 non-null  int64
 13  아파트명    77080 non-null  object
 14  지번주소    77080 non-null  object
 15  세대수     77080 non-null  int64
 16  임대수     77080 non-null  int64
 17  동수      77080 non-null  int64
 18  용적률     77080 non-null  int64
 19  건폐율     77080 non-null  int64
 20  주차대수    77080 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(9)
memory usage: 12.9+ MB

### 데이터프레임 정렬

In [ ]:
# 거래금액 컬럼 기준으로 오름차순으로 정한 결과에서 처음 5행만 출력합니다.
apt.sort_values(['거래금액']).head()

In [ ]:
# 거래금액 컬럼 기준으로 오름차순으로 정한 결과에서 처음 다섯 행만 출력합니다.
apt.sort_values(['거래금액'], ascending = False).head()

In [ ]:
# 층, 거래금액 컬럼 순으로 모두 내림차순 정렬하고 처음 다섯 행만 출력합니다.
apt.sort_values(['층', '거래금액'], ascending = False).head()

In [ ]:
# 층은 내림차순, 거래금액은 오름차순으로 정렬하고 처음 다섯 행만 출력합니다.
apt.sort_values(['층', '거래금액'], ascending = [False, True]).head()

### 외부 파일로 저장

In [ ]:
# 현재 작업경로를 확인합니다.
os.getcwd()

In [ ]:
# apt를 xlsx 파일로 저장합니다.
apt.to_excel('APT_List_Seoul_2020.xlsx', index = None)

In [ ]:
# apt를 csv 파일로 저장합니다.
apt.to_csv('APT_List_Seoul_2020.csv', index = None)

In [ ]:
# 현재 작업경로에 포함된 폴더명과 파일명을 출력합니다.
os.listdir()

---